@{
    ViewBag.Title = "Index";
}
<h2> Work Type</h2>
@Html.Partial("_Notifications")
<div id='workType-notification-error' class="notificationBox notificationError" title="Error" style="display:none;"></div>
<div style="float:right; "><a href="#" id="Add">Add New Work Type</a></div>
<div style="clear:both; padding-top:2em;">
    @(Html.Kendo().Grid<SBS.IT.Utilities.Web.TimeTrackerWeb.Models.WorkTypeViewModel>()
                                                                        .Name("WorkTypeGrid")
                                                                        .DataSource(dataSource => dataSource
                                                                        .Ajax()
                                                                        .PageSize(20)
                                                                        .Read(read => read.Url(Url.Action("ReadWorkTypeGrid")).Data("ReadWorkTypeGrid_SearchCriteria"))
                                                                    ).Events(events => events.DataBound("CustomerGrid_DataBound"))
                                                                    .Columns(columns =>
                                                                    {
                                                                        columns.Bound(p => p.WorkTypeId).Hidden();
                                                                        columns.Bound(p => p.WorkTypeCode).HeaderHtmlAttributes(new { style = "text-align: center;" }).Hidden();
                                                                        columns.Bound(p => p.WorkTypeName).HeaderHtmlAttributes(new { style = "text-align: center;width:25%;" });
                                                                        columns.Bound(p => p.Description).Title("Work Type Description").HeaderHtmlAttributes(new { style = "text-align: center;width:50%;" });
                                                                        columns.Bound(p => p.WorkTypeCategoryName).Title("Work Type Category").HeaderHtmlAttributes(new { style = "text-align: center;width:50%;" });
                                                                        columns.Bound(p => p.IsCapitalizable).ClientTemplate("#= IsCapitalizable == 1 ? 'Yes' : 'No' #").HeaderHtmlAttributes(new { style = "text-align: center;width:10%;" });
                                                                        columns.Bound(p => p.IsActive).ClientTemplate("#= IsActive == 1 ? 'Yes' : 'No' #").HeaderHtmlAttributes(new { style = "text -align: center;width:10%;" });
                                                                        columns.Command(command =>
                                                                        {
                                                                            command.Custom("gridIEdit").Text(" ").Click("gridIEditClick");
                                                                            //command.Custom("gridDelete").Text(" ").Click("gridDeleteClick");
                                                                        }).Title("Action").HtmlAttributes(new { @style = "text-align: center;" }).HeaderHtmlAttributes(new { style = "text-align: center;width:15%;" });
                                                                    }).ToolBar(toolbar =>
                                                                    {
                                                                    toolbar.Template(@<text>
                                                                            <div class="toolbar">

                                                                                <div class="row">
                                                                                    <div class="col-md-4">
                                                                                        <div class="input-group">
                                                                                            <span class="input-group-addon" id="btnSearch"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                                                                            <input type="text" class="form-control" id='FieldFilter' placeholder="Search for...">
                                                                                            <span class="input-group-btn">
                                                                                                <button class="btn btn-default" type="button" id="btnReset"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </text>);
                                                                            })
                                                                        .Pageable(p => p.Refresh(true).Input(true))
                                                                        .Sortable(sortable => sortable.AllowUnsort(false))
                                                                        .Resizable(resizable => resizable.Columns(true))
                                                                        .Scrollable(scrollable => scrollable.Enabled(false))
    )
</div>

@(Html.Kendo().Window().Name("AddWorkType")
                            .Visible(false)
                            .Animation(false)
                            .Modal(true)
                            .Draggable()
                            .Width(900)
                            .Actions(actions => actions.Close())
)

@section scripts{
    <script type="text/javascript">
        function ReadWorkTypeGrid_SearchCriteria() {
            return {
                searchText: $('#FieldFilter').val()
            };
        }

        function refreshGrid() {
            var grid = $("#WorkTypeGrid").data("kendoGrid");
            grid.dataSource.read();
        }

        $("#FieldFilter").blur(function () {
            refreshGrid();
        });
        $("#btnSearch").click(function () {
            refreshGrid();
        });
        $("#btnReset").click(function () {
            $("#FieldFilter").val(null);
            refreshGrid();
        });

    $(document).ready(function () {
        $("#Add").click(function () {
            var window = $("#AddWorkType").data("kendoWindow");
            $("#AddWorkType").html("");
            window.refresh({
                type: 'POST',
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Action("AddWorkType")'
            })
            window.title('Add Work Type').center().open();
        });
    });

    function gridIEditClick(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var workTypeId = dataItem.WorkTypeId;
        $("#AddWorkType").html("");
        var window = $("#AddWorkType").data("kendoWindow");
        window.refresh({
            type: 'POST',
            dataType: "html",
            contentType: 'application/json; charset=utf-8',
            url: '@Url.Action("EditWorkType")',
            data: JSON.stringify({
                WorkTypeId: workTypeId,
            }),
        })
        window.title('Edit WokType').center().open();
    };

    function gridDeleteClick(e) {
        ClearNotifications();
        var window = $("#DeleteNotificationPopUpWindow").data("kendoWindow");
        window.center().open();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $("#yesNotificationButton").click(function () {
            var workTypeId = dataItem.WorkTypeId;
            $.ajax({
                type: 'POST',
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Action("DeleteWokType")',
                data: JSON.stringify({
                    WorkTypeId: workTypeId,
                }),
                success: function (result) {
                    if (result != null)
                        displayNotoficationSuccess(['WokType Deleted successfully.']);

                    else
                        displayNotoficationSuccess(['Unable to delete WokType']);

                        window.close();
                        displayNotoficationSuccess(['WokType Deleted successfully.']);
                        refreshGrid();
                },
                complete: function () {
                    displayAjaxLoading(false);
                }
            })
        })
        $("#noNotificationButton").click(function () {
            var window = $("#DeleteNotificationPopUpWindow").data("kendoWindow");
            window.close();
        })
    };

    function CustomerGrid_DataBound(e) {
        e.preventDefault();
        $(".k-grid-gridIEdit").find("span").addClass("k-icon k-i-pencil pull-left");
        $(".k-grid-gridDelete").find("span").addClass("k-icon k-i-close pull-left");
        $(".k-button").css({ "min-width": "0", "margin": "0", "padding": "2px 2px 2px 5px" })
    }
    </script>
}