@{
    ViewBag.Title = "Index";
}
<h2> Project Item</h2>
<div id='ALM-notification-error' class="notificationBox notificationError" title="Error" style="display:none;"></div>
<div style="float:right; margin-top:-3em;"><a href="#" id="Add">Add New Project Item</a></div>
<div style="clear:both; padding-top:2em;">
    @(Html.Kendo().Grid<SBS.IT.Utilities.Web.TimeTrackerWeb.Models.ALMModel>()
                                                                        .Name("ALMGrid")
                                                                        .DataSource(dataSource => dataSource
                                                                        .Ajax()
                                                                        .PageSize(25)
                                                                        .Read(read => read.Url(Url.Action("ReadALMGrid")))
                                                                    ).Events(events => events.DataBound("CustomerGrid_DataBound"))
                                                                    .Columns(columns =>
                                                                    {
                                                                        columns.Bound(p => p.ALMId).Hidden();
                                                                        columns.Bound(p => p.ProjectName).HeaderHtmlAttributes(new { style = "text-align: center;" });
                                                                        columns.Bound(p => p.WorkItemName).HeaderHtmlAttributes(new { style = "text-align: center;" });
                                                                        columns.Bound(p => p.ALM).HeaderHtmlAttributes(new { style = "text-align: center;" });
                                                                        columns.Bound(p => p.ALMDescription).HeaderHtmlAttributes(new { style = "text-align: center;" });
                                                                        columns.Bound(p => p.Budget).HeaderHtmlAttributes(new { style = "text-align: center;" });
                                                                        columns.Bound(p => p.Benefit).HeaderHtmlAttributes(new { style = "text-align: center;" });
                                                                        columns.Command(command =>
                                                                        {
                                                                            command.Custom("gridIEdit").Text(" ").Click("gridIEditClick");
                                                                            command.Custom("gridDelete").Text(" ").Click("gridDeleteClick");
                                                                        }).Title("Action").HtmlAttributes(new { @style = "text-align: center;" }).HeaderHtmlAttributes(new { style = "text-align: center;" });
                                                                    }).ToolBar(toolbar =>
                                                                    {
                                                                    toolbar.Template(@<text>
                                                                            <div class="toolbar">

                                                                                <div class="row">
                                                                                    <div class="col-md-4">
                                                                                        <div class="input-group">
                                                                                            <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                                                                            <input type="text" class="form-control" id='FieldFilter' placeholder="Search for...">
                                                                                            <span class="input-group-btn">
                                                                                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </text>);
                                                                            })
                                                                        .Pageable(p => p.Refresh(true).Input(true))
                                                                        .Sortable(sortable => sortable.AllowUnsort(false))
                                                                        .Resizable(resizable => resizable.Columns(true))
                                                                        .Scrollable(scrollable => scrollable.Enabled(false))
    )
</div>

@(Html.Kendo().Window().Name("AddALM")
                            .Visible(false)
                            .Animation(false)
                            .Modal(true)
                            .Draggable()
                            .Width(900)
                            .Actions(actions => actions.Close())
)

@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $("#Add").click(function () {
            var window = $("#AddALM").data("kendoWindow");
            $("#AddALM").html("");
            window.refresh({
                type: 'POST',
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Action("AddALM")'
            })
            window.title('Add Project Item').center().open();
        });
    });

    function gridIEditClick(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var clientId = dataItem.ClientId;
        $("#AddALM").html("");
        var window = $("#AddALM").data("kendoWindow");
        window.refresh({
            type: 'POST',
            dataType: "html",
            contentType: 'application/json; charset=utf-8',
            url: '@Url.Action("EditALM")',
            data: JSON.stringify({
                ClientId: clientId,
            }),
        })
        window.title('Edit Requirement').center().open();
    };

    function gridDeleteClick(e) {
        ClearNotifications();
        var window = $("#DeleteNotificationPopUpWindow").data("kendoWindow");
        window.center().open();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $("#yesNotificationButton").click(function () {
            var clientId = dataItem.ClientId;
            $.ajax({
                type: 'POST',
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Action("DeleteALM")',
                data: JSON.stringify({
                    ClientId: clientId,
                }),
                success: function (result) {
                    if (result != null && result.Errors != null && result.Errors.length != 0) {
                        displayPartialViewErrors('alm-notification-error', result);
                    }
                    else {
                        var window = $("#DeleteNotificationPopUpWindow").data("kendoWindow");
                        window.close();
                        displayNotoficationSuccess(['Requirement Deleted successfully.']);
                        var grid = $("#ALMGrid").data("kendoGrid");
                        grid.dataSource.read();
                    }
                },
                complete: function () {
                    displayAjaxLoading(false);
                }
            })
        })
        $("#noNotificationButton").click(function () {
            var window = $("#DeleteNotificationPopUpWindow").data("kendoWindow");
            window.close();
        })
    };

    function CustomerGrid_DataBound(e) {
        e.preventDefault();
        $(".k-grid-gridIEdit").find("span").addClass("k-icon k-i-pencil pull-left");
        $(".k-grid-gridDelete").find("span").addClass("k-icon k-i-close pull-left");
        $(".k-button").css({ "min-width": "0", "margin": "0", "padding": "2px 2px 2px 5px" })
    }
    </script>
}