@model SBS.IT.Utilities.Web.TimeTrackerWeb.Models.ProjectItemModel
<script>
    if ('@TempData["ProjectItemMessage"]' != '') {
        alert('@TempData["ProjectItemMessage"]');
    }
</script>
<div class="col-lg-10">
    <div class="panel panel-default">
        <div id="messageBox" class="text-danger"></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-5">
                    @Html.HiddenFor(M => M.ProjectItemId)
                    @Html.LabelFor(model => model.ProjectName, new { @class = "" })
                    @Html.DropDownListFor(model => model.ProjectId, new SelectList(Model.ProjectList, "ProjectId", "ProjectName", Model.ProjectId), "--Select Project--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-5">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    @Html.LabelFor(model => model.ProjectItemName, new { @class = "manadatory" })
                    @Html.TextBoxFor(model => model.ProjectItemName, new { @class = "form-control", @maxlength = "90" })
                    @Html.ValidationMessageFor(model => model.ProjectItemName, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-5">
                    @Html.LabelFor(model => model.ProjectItemDescription, new { @class = "" })
                    @Html.TextBoxFor(model => model.ProjectItemDescription, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProjectItemDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    @Html.LabelFor(model => model.DevLOE, new { @class = "" })
                    @Html.TextBoxFor(model => model.DevLOE, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DevLOE, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-5">
                    @Html.LabelFor(model => model.BaLOE, new { @class = "" })
                    @Html.TextBoxFor(model => model.BaLOE, new { @class = "form-control", @maxlength = "90" })
                    @Html.ValidationMessageFor(model => model.BaLOE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    @Html.LabelFor(model => model.QaLOE, new { @class = "" })
                    @Html.TextBoxFor(model => model.QaLOE, new { @class = "form-control", @maxlength = "90" })
                    @Html.ValidationMessageFor(model => model.QaLOE, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-5">
                    @Html.LabelFor(model => model.ProjectItemStatusName, new { @class = "manadatory" })
                    @Html.DropDownListFor(model => model.ProjectItemStatusId, new SelectList(Model.ProjectItemStatusList, "ProjectItemStatusId", "ProjectItemStatusName", Model.ProjectItemStatusId), "--Select Project Item Status--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProjectItemStatusId, "", new { @class = "text-danger" })
                </div>
            </div>
            @if (Model != null && Model.ProjectItemId > 0)
            {
                <div class="row">
                    <div class="col-lg-5">
                        @Html.LabelFor(model => model.IsActive, new { @class = "manadatory" })
                        @Html.DropDownList("IsActive", new List<SelectListItem> { new SelectListItem { Text = "Yes", Value = "1" }, new SelectListItem { Text = "No", Value = "0" } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            <div class="row" style="margin-top:10px;">
                <div class="form-group">
                    <div class="col-md-offset-0 col-md-12">
                        @(Html.Kendo().Button().Name("btnSave").HtmlAttributes(new { @class = "btn btn-success", style = "float:center", type = "button" }).Content("Save"))
                        @(Html.Kendo().Button().Name("btnCancel").HtmlAttributes(new { @class = "btn btn-danger", style = "float:center", type = "button" }).Content("Cancel"))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#btnSave").click(function () {
        displayAjaxLoading(true);
        $.ajax({
            type: 'POST',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            url: '@Url.Action("SaveProjectItems")',
            data: JSON.stringify({
                ProjectItemId: $('#ProjectItemId').val(),
                ProjectId: $('#ProjectId').val(),
                ProjectItemName: $('#ProjectItemName').val(),
                ProjectItemDescription: $('#ProjectItemDescription').val(),
                Budget: $('#Budget').val(),
                Benefit: $('#Benefit').val(),
                DevLOE: $('#DevLOE').val(),
                QaLOE: $('#QaLOE').val(),
                BaLOE: $('#BaLOE').val(),
                ProjectItemStatusId: $('#ProjectItemStatusId').val(),
                IsActive: $('#IsActive').val()
            }),
            success: function (result) {
                if (result.length > 0) {
                    displayPartialNotoficationError(['messageBox'], result);
                }
                else if (result != null && result == 0)
                    displayNotoficationError(['Project Item already exists']);
                else if (result != null && result > 0) {
                    displayNotoficationSuccess(['Project Item Created successfully.']);
                }
                else if (result != null && result == -1) {
                    displayNotoficationSuccess(['Project Item Updated successfully.']);
                }
                if (!result.length > 0) {
                    var window = $("#AddProjectItem").data("kendoWindow");
                    window.close();
                    $('#ProjectItemId').val(null);
                    var grid = $("#ProjectItemGrid").data("kendoGrid");
                    grid.dataSource.read();
                }
            },
            complete: function () {
                displayAjaxLoading(false);
            }
        })
    });
    $("#btnCancel").click(function () {
        var window = $("#AddProjectItem").data("kendoWindow");
        window.close();
    });

    $(document).ready(function () {
    //    $('#ApplicationId').change(function () {
    //        $('#ProjectId').empty();
    //    $.ajax({
    //        type: "GET",
    //        url: "GetProjectByApplicationId",
    //        datatype: "Json",
    //        data: { applicationId: $('#ApplicationId').val() },
    //        success: function (data) {
    //            $.each(data, function (index, value) {
    //                $('#ProjectId').append('<option value="' + value.ProjectId + '">' + value.ProjectName + '</option>');
    //            });
    //        }
    //    });
    //});
    });
</script>