@model SBS.IT.Utilities.Web.TimeTrackerWeb.Models.EmployeeViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2> Change Password</h2>
    if (ViewBag.errormessage != null && ViewBag.errormessage == "Invalid")
    {
        <p class="alert alert-danger" id="successMessage">Invalid current password</p>
    }
    else if (ViewBag.errormessage != null && ViewBag.errormessage == "Success")
    {
        <p class="alert alert-success" id="successMessage">Password updated successfully</p>
    }
    else if (ViewBag.errormessage != null && ViewBag.errormessage == "Fail")
    {
        <p class="alert alert-info" id="successMessage">Unable to update password</p>
    }
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-5">
                        @Html.LabelFor(model => model.currentPassword, new { @class = "" })
                        @Html.PasswordFor(model => model.currentPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.currentPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        @Html.HiddenFor(M => M.employeeId)
                        @Html.HiddenFor(M => M.logonName)
                        @Html.LabelFor(model => model.newPassword, new { @class = "" })
                        @Html.PasswordFor(model => model.newPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.newPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        @Html.LabelFor(model => model.confirmNewPassword, new { @class = "" })
                        @Html.PasswordFor(model => model.confirmNewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.confirmNewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-5">
                        <input id="btnSubmit" class="btn btn-success" type="submit" value="Change Password">
                        @(Html.Kendo().Button().Name("btnCancel").HtmlAttributes(new { @class = "btn btn-danger", style = "float:center", type = "button" }).Content("Clear"))
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function clearControl() {
        $('#currentPassword').val(null);
        $('#newPassword').val(null);
        $('#confirmNewPassword').val(null);
    }
    $("#btnCancel").click(function () {
        clearControl();
    });
</script>


